*
{
    box-sizing: border-box;
}

.loginContainer
{
    height: 100vh;
    width: 100%;
    background-color: #212B37;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox
{
    width: 30%;
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
}

input
{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    height: 45px;
    border: none;
    outline: line;
    border-radius: 10px;
    font-size: 16px;
}

.submitBtn
{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    height: 45px;
    border: none;
    outline: line;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(30, 83, 176);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:700px){
    .loginBox
    {
        width: 90%;
    }
}