*
{
    box-sizing: border-box;
}

.container
{
    height: 100vh;
    width: 100%;
    background-color: rgb(191, 213, 237)(127, 95, 95);
    display: flex;
    overflow: hidden;
}

.sideNav
{
    width: 17%;
    background-color: #212B37;
}

.logoContainer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 10%;
}

.logo
{
    width: 40%;
    border-radius: 50%;
}

.logoHeading
{
    color: rgb(186, 243, 243);
    font-size: 22px;
}

.link
{
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    padding-left: 3%;
}

.link:hover
{
    background-color: rgb(30, 83, 176);
    transition: 0.5s;
}

/* main content */

.mainContent
{
    padding: 20px;
    width: 83%;
    background-color: rgb(204, 239, 255);
}