.footer-container
{
    width: 100%;
    height: 20vw;
    background-color: rgb(30,29,29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.footer-image
{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.social-link
{
    color: white;
    margin-top: 10px;
    text-decoration: none;
}





@media screen and (max-width:750px) {
    .footer-container
    {
        height: 40vw;
    }
}