.comment-container
{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: flex-start;
    align-items: center;
}

.comment-card
{
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(30, 83, 176);
    margin: 10px;
}