.cat-container
{
    width: 100%;
}

.cat-form
{
    width: 40%;
}

.submit-btn
{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(30, 83, 176);
    color: white;
    border-radius: 10px;
}